#auth-wrapper {
  padding: 100px 0px 150px;
  min-width: 1440px;
  height: calc(100vh - 64px - 100px - 150px);
  min-height: 960px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 1200px;
  height: 100%;

}

.auth-logo-icon {
  width: 50px;
  height: 50px;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.auth-card {
  border-radius: 10px;
  padding: 50px 50px 30px;

  background-color: rgba(255, 255, 255, 1);
}

.auth-card-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap:30px;
}

.auth-card-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.auth-card-title-box {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 8px;
  width: 380px;
}

.auth-card-title-logo {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Lobster', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 17, "SHLN" 0;
}

.auth-card-logo-part {
  color: #E53D00;
}

.auth-card-page {
  color: rgba(0, 0, 0, 0.7);

  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
}

.auth-card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 460px;
}

.auth-sign-in-error-box {
  margin-bottom: 4px;
}

.auth-sign-in-error-message {
  color: rgba(255, 0, 0, 0.7);

  font-size: 12px;
  font-weight: 400;
  line-height: 140%;

  white-space: pre-wrap;
}

.auth-sign-in-social-login {
  display: flex;
  align-items: center;
  margin: 20px 0;
}


.auth-description-box {
  display: flex;
  justify-content: center;
}

.auth-description {
  color: rgba(0, 0, 0, 0.7);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.auth-description-link {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  font-weight: 500;
}

.auth-consent-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.auth-check-box {
  cursor: pointer;

  width: 24px;
  height: 24px;
}

.auth-consent-title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.auth-consent-title-error {
  color: rgba(255, 0, 0, 0.7);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.auth-consent-link {
  color: rgba(0, 0, 0, 0.7);

  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
