.icon {
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.logout-button {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  width: 100px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.mypage-button{
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  width: 100px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f2507e;

  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.login-button {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  width: 100px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.black-large-full-button {

  border-radius: 46px;
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;

  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.black-large-full-button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.pink-large-full-button {
  border-radius: 46px;
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ff4081;

  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.divider {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

.search-light-icon {
  background-image: url(assets/image/search-light.png);
  width: 20px;
  height: 20px;
}