.inputbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputbox-label {
  color: rgba(0, 0, 0, 0.7);

  font-size: 17px;
  font-weight: 600;
  line-height: 140%;
}

.inputbox-container {
  padding: 13px 16px 11px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.inputbox-container-error {
  border-bottom: 1px solid rgba(250, 0, 0, 0.7);
  padding: 11px 16px 11px 0px;

  background-color: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: none;
  outline: none;

  flex: 1;

  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.inputbox-message {
  color: rgba(255, 0, 0, 0.7);

  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
}